#bourbon {
    background-color: #BA6F1E;
    color: white;
}

#rye {
    background-color: #A7441F;
    color: white;
}

#tequila {
    background-color: #e6d795;
}

#rum {
    background-color: #632a15;
    color: white;
}